body {
	margin:0px;
}

.section{
	position:absolute;
	width:100%;
	height:100%;
}

#landingBackground{
	position:relative;
	background-image: url("background_1.png");
	top:0;
	left:0;
	width:100%;
	overflow:overlay;
	background-position: center center;
 	background-repeat: no-repeat;
  	background-size: cover;	
	
}

.button{
	padding:0px;
	background:transparent;
	border:transparent;
}

.Blazing_Tire_logo{
	padding:23px;
}
/*Mobile options container*/
.s1{
	position:relative;
}
/*Mobile carwash and mobile garage css properties*/
.s1 > .option{
	padding-left: 78px;
	padding-right: 78px;
	padding-top:34px;
}

/*Shop Area*/
/*NEEDS TUNING UP NOT RESPONSIVE ENOUGH*/
.s2{
	position:relative;
	width:78%;

	text-align:center;

	border-style:solid;
	border-radius: 38px;
	border-width:3px;
	border-color:#fff;

	margin-left:10%;
	margin-right:10%;
	margin-top:31px;
	overflow:auto;
}

#shop{
	/*NEEDS TUNING UP NOT RESPONSIVE ENOUGH*/
	font-family: 'Work Sans', sans-serif;
	font-style:normal;
	font-weight:normal;
	font-size: 22px;
	color:#fff;
	margin-top:-3%;
}
/*Tires or Wheels*/
/*Wrapper for the options*/
.opwrapper{
	margin: 0 auto;
    margin-top:-6%;
}
/*ID for Wheels*/
#option1{
	float:left;
	width:36%;
	height:auto;
	padding-left:7%;
	padding-bottom: 6%;
	
}

#option2{
	float:right;
	width:40%;
	height:auto;
	padding-right:7%;
	padding-bottom: 6%;
	
}

/*Container for bottom of page*/
.s3{
	position:relative;
	margin-top:10%;
	margin-left:22.5%;
	margin-bottom:55%;
	width:55%
}

#part2{
	position:relative;
	bottom:0;
	width:100%;
	height:100%;
	background-color:#008000;
}

#deals2{
	top:75%;
	left:25%;
	width:50%;
}
